input {
margin-left: 1rem;
}

h1 {
    text-align: center;
}

.add-asset-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

.login-message {
text-align: center;
font-size: 1.2rem;
color: var(--color-text);
margin-top: 20px;
}
  